/* ACF */
.acf-field input, .acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="date"], .acf-field input[type="datetime"],
.acf-field input[type="datetime-local"], .acf-field input[type="email"], .acf-field input[type="month"], .acf-field input[type="number"],
.acf-field input[type="search"], .acf-field input[type="tel"], .acf-field input[type="time"], .acf-field input[type="url"],
.acf-field input[type="week"], .acf-field textarea, .acf-field select{ font-size: 13px; }
.acf-field .acf-label label, .post-attributes-label, .acf-flexible-content .layout .acf-fc-layout-handle span, #edittag .form-table th { font-weight: 500; }
.acf-field .acf-label.acf-accordion-title label{ color: #1e1e1e }
.acf-tab-group li a{ font-weight: normal; font-size: 13px }
.acf-tab-group li.active a{ font-weight: 500 }
.acf-true-false{ padding: 5px 0 }
.acf-input-prepend, .acf-input-append{ border-color:#c4cdd5; font-size: 13px }
.acf-fields>.acf-field, .acf-fields.acf-block-fields>.acf-field, .acf-fields.inside>.acf-field{ padding: 10px 16px }
.acf-fields>.acf-field.acf-field-clone{ padding: 0 }
.acf-field{ min-height: auto!important }
.inside.acf-fields>.acf-field>.acf-label label{ cursor: default }
.acf-field .acf-label{ margin-bottom: 6px }
.acf-field.acf-accordion .acf-label{ margin-bottom: 0 }
.acf-field.acf-accordion .acf-label.acf-accordion-title{ padding: 16px }
.acf-accordion .acf-accordion-title svg.acf-accordion-icon{ right: 16px }
.acf-field.acf-accordion{ border-top-color: #e0e0e0 }
.acf-field.acf-accordion .acf-field-group{ padding: 0 }
.acf-menu-item-fields .acf-field.acf-accordion .acf-field-group{ margin: 0 -12px }
.acf-field.acf-accordion .acf-field-group .acf-fields.-border{ border: 0 }
.acf-field.acf-accordion .acf-field-group > .acf-label{ padding: 10px 16px; border-bottom: 1px solid #eaecf0 }
.components-panel .inside.acf-fields .acf-field-group{ padding: 0 }
.components-panel .inside.acf-fields .acf-field-group > .acf-input > .acf-fields.-border{ border: 0 }
.acf-fields.-border.acf-clone-fields{ border: 0 }
.acf-fields.-border.acf-clone-fields > .acf-field{ margin: 0 }
.acf-fields.-border, .acf-file-uploader .file-wrap{ border-radius: 3px; overflow: hidden }
.acf-field select, .acf-field .select2-container{ font-size: 13px; max-width: none }
.acf-postbox.seamless>.inside { margin-left: -10px !important; margin-right: -10px !important }
.form-table>tbody>.acf-tab-wrap td{ padding: 0; padding-left: 220px; }
.form-table>tbody>tr.acf-tab-wrap .acf-tab-group{ padding: 0 }
.acf-flexible-content .layout{ margin-top: 10px; border-radius: 3px }
.acf-flexible-content .layout .acf-fc-layout-handle{ font-size: 13px }
.acf-image-uploader .image-wrap img{ border-radius: 3px; max-width: 125px }
.acf-field-flexible-content .acf-field .acf-label label{ font-weight: 400; font-size: 12px }
.acf-field-flexible-content .acf-field .acf-label.acf-accordion-title label{ font-weight: 500 }
.select2-container.-acf .select2-selection, .acf-color-picker .wp-color-result { border-color: #c4cdd5; min-height: 30px }
.acf-gallery-sort{ display: none }
.acf-gallery .acf-gallery-side-info{ width: calc(100% + 10px) }
.editor-sidebar__panel .acf-gallery { overflow: hidden }
.editor-sidebar__panel .acf-gallery .acf-gallery-side{ width: calc(100% + 1px)!important; max-width: 349px }
.editor-sidebar__panel .acf-gallery .acf-gallery-side-inner{ width: 100%!important }
.editor-sidebar__panel .acf-gallery .acf-gallery-main{ width: 100%; left: auto }
.editor-sidebar__panel .acf-relationship .selection .values, .editor-sidebar__panel .acf-relationship .selection .choices{ width: 100%; float: none }
.editor-sidebar__panel .acf-relationship .selection .choices{ border-bottom: 1px solid #ccd0d4 }
#addtag #acf-term-fields{ padding-right: 0 }

.acf-fields.acf-menu-item-fields>.acf-field{ padding-right: 0; margin: 2px 0 5px }
.acf-menu-item-fields .acf-field.acf-accordion .acf-label.acf-accordion-title { padding: 12px 16px }
.acf-menu-item-fields .acf-field.acf-accordion.-open .acf-accordion-title{ background: #f3f4f5 }
.acf-fields.-clear>.acf-field.acf-accordion:first-of-type{ border-top-left-radius: 3px; border-top-right-radius: 3px }
.acf-fields.-clear>.acf-field.acf-accordion:last-of-type{ border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
.acf-fields.acf-menu-item-fields>.acf-field+.acf-field{ margin-top: 10px }
.acf-fields.acf-menu-item-fields>.acf-field.acf-accordion+.acf-field.acf-accordion{ margin-top: -6px!important }
.acf-field.acf-accordion .acf-input.acf-accordion-content>.acf-fields.-clear{ padding: 0 12px }

@media screen and (max-width: 782px){
    .form-table>tbody>.acf-tab-wrap td{ padding-left: 0 }
    .form-table>tbody>.acf-field>.acf-label{ padding: 0; margin: 0; padding-top: 10px }
    .form-table>tbody>.acf-field>.acf-input{ padding: 0 }
}
.acf-postbox{ overflow: visible }
.acf-menu-settings .acf-field .acf-label label{ font-weight: 400; opacity: 0.8 }
.acf-fields.acf-menu-item-fields > .acf-field .acf-label label{ margin-bottom: 5px; color: #646970; font-style: normal }
.acf-fields.acf-menu-item-fields > .acf-field .acf-label.acf-accordion-title label{ margin-bottom: 0 }

.metabox-location-normal .acf-fields>.acf-field{ padding: 10px 24px }

.no-acf_edit_image .acf-field-image .acf-actions.-hover,
.no-acf_edit_file .acf-field-file .acf-actions.-hover{ display: none!important }

.no-acf_edit_repeater .acf-repeater .acf-actions,
.no-acf_edit_repeater [data-event="add-row"],
.no-acf_edit_repeater [data-event="remove-row"]
{ display: none!important }

.no-acf_edit_repeater .acf-row-handle{ pointer-events: none }

.no-acf_edit_layout .acf-flexible-content .layout .acf-fc-layout-handle{ cursor: pointer!important }

.no-acf_edit_relationship .acf-field-relationship .acf-relationship,
.no-acf_edit_image .acf-field-image .acf-basic-uploader,
.no-acf_edit_true-false .acf-field-true-false .acf-input label,
.no-acf_edit_link .acf-field-link .acf-input .button, .no-acf_edit_link .acf-field-link .acf-input .-cancel,
.no-acf_edit_link #wp-link #link-options > div:not(.wp-link-text-field), .no-acf_edit_link #wp-link #search-panel,
.no-acf_edit_radio .acf-field-radio .acf-input label, .no-acf_edit_select .acf-field-select .acf-input select,
.no-acf_edit_post-object .acf-field-post-object .select2,
.no-acf_edit_taxonomy .acf-field-taxonomy .acf-taxonomy-field
{ pointer-events: none!important; opacity: 0.5; }
