/* Carbon fields */
.cf-text__input, .cf-textarea__input{ font-size: 13px }
.cf-block__fields .cf-complex__group-body{ border-top: 0 }
.edit-post-sidebar .cf-complex__group-head,
.edit-post-sidebar .cf-complex__group-body,
.edit-post-sidebar .cf-complex .cf-field{ border-color:#c4cdd5; }
.block-editor .metabox-location-side .cf-field{ padding: 6px 24px }
.cf-block__fields > .cf-field{ padding: 0 }
.cf-block__fields > .cf-field +.cf-field{ padding-top: 16px }
.cf-field__label{ font-weight: normal }
.cf-field .cf-select__input{ max-width: none }
.cf-complex__group-body[hidden]{ display: none }
.cf-complex__group--collapsed .cf-complex__group-head{ border-bottom: 1px solid #c4cdd5 }
.cf-complex--grid .cf-complex__group{ margin-bottom: -1px }
.cf-complex__group-action{ margin-left: 4px }
.cf-complex__group-title{ white-space: nowrap; max-width: calc(100% - 115px); text-overflow: ellipsis; overflow: hidden; display: inline-block }
.cf-complex__group-head{ align-items: center }
.carbon-fields--urlpicker strong{ color: #135e96 }
.carbon-fields--urlpicker{ border: #ccd0d4 solid 1px; padding: 10px; border-radius: 3px; display: block }
.carbon-fields--urlpicker__remove{ font-size: 1.5em; right: 5px; }
.edit-post-sidebar .cf-file__content, .edit-post-sidebar .cf-file__name { border-color: #ccd0d4 }