#wpadminbar .flag-icon{ width: 1.333em; height: 1em; vertical-align: text-bottom; margin-right: 6px; position: relative; top: -2px }
.multisite-language-switcher #wp-admin-bar-my-sites{ display: none }
#wp-admin-bar-archive_options > .ab-item:before { content: "\f111"; top: 2px }
#wp-admin-bar-archive > .ab-item:before { content: "\f115"; top: 2px }