.edit-post-visual-editor__post-title-wrapper{
    padding-bottom: 20px; font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.editor-styles-wrapper{ background: #eee; padding: 20px!important; }
.block-editor-block-list__layout{ background: #fff; padding: 1px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.05) }
.block-editor-inserter__preview-container{ width: 400px }
.block-list-appender{ margin-top: 40px }
.acf-block-preview > *{ pointer-events: none }
.wp-core-ui input[type="checkbox"], .wp-core-ui input[type="radio"]{ width: 15px; height: 15px; margin: -1px 0 0 0 }
.wp-core-ui input[type="radio"]:checked::before{ width: 7px; height: 7px; margin: 3px }
.wp-core-ui input[type="checkbox"]:checked::before{ width: 13px; height: 13px; margin: 0 }
